### Gradle ###
.gradle
*/build/*
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*/out/*

### Ignore stage configs
*-dev.yaml
*-test.yaml
*-native.yaml
!*-local-test.yaml
!docker-compose-test.yaml

### Ignore tmp ansible files
*.retry
*.password
!ansible-vault-native.password
liquibase.properties