kind: ConfigMap
apiVersion: v1
metadata:
  namespace: {{ namespace }}
  name: {{ application.name }}
  labels:
    app: {{ application.name }}
data:
  bootstrap.yaml: |
    {{ lookup('template', '{{ playbook_dir }}/roles/{{ role_name }}/templates/application/bootstrap.yaml.j2') | indent }}
  application.yaml: |
    {{ lookup('template', '{{ playbook_dir }}/roles/{{ role_name }}/templates/application/application.yaml.j2') | indent }}
  logback.groovy: |
    {{ lookup('template', '{{ playbook_dir }}/roles/{{ role_name }}/templates/application/logback.groovy.j2') | indent }}