kind: Secret
apiVersion: v1
metadata:
  namespace: {{ namespace }}
  name: {{ application.name }}
  labels:
    app: {{ application.name }}
type: Opaque
data:
  DATABASE_USERNAME: {{ spring.database.username | b64encode }}
  DATABASE_PASSWORD: {{ spring.database.password | b64encode }}