import ch.qos.logback.classic.encoder.PatternLayoutEncoder

statusListener(NopStatusListener)

appender("CONSOLE", ConsoleAppender) {
    encoder(PatternLayoutEncoder) {
        pattern = "%d{ISO8601} [${System.getProperty("PID") ?: ''}] [%X{X-B3-TraceId:-}] [%X{X-B3-SpanId:-}] [%level{5}] --- [%logger{36}] : %m%n%ex"
    }
}

root(INFO, ["CONSOLE"])